html {font-family: Arial; font-size: 25px;}

a {color:blue; text-decoration:none;}

.grid-container {
  display: grid;
  grid-template-columns: 350px auto;
  padding: 5px;}

.grid-item {
  padding: 5px;
  text-align: left;}

 #bottom { 
                position:absolute;                  
                bottom:0;                          
                left:0;} 
